* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 16px;
}

.App {
  //display: flex;
  flex-direction: column;

  header {
    background-color: transparent;
  }

  main {
    background-color: transparent
  }

  footer {
    background-color: rgba(119, 119, 119, 1);
  }
}

@import './navigation.css';
@import './display.css';
@import './info.css';
@import './review-slider.css';
@import './product-slider.css';
@import './sub-page.css';

@import './kezdolap.css';
@import './servs_and_prod.css';
@import './rolam.css';
@import './gyik.css';