.contacts {
    list-style: none;

    li {
        display: flex;

        a {
            text-decoration: none;
            display: flex;
            align-items: flex-start;
            transition: all 150ms ease-in-out;

            .icon {
                margin-right: 1rem;
                font-size: 1.25rem;
            }
        }

        a:hover {
            scale: 1.075;
            background-color: unset;
        }
    }

    li:not(li:last-child) {
        margin-bottom: 1rem;
    }
}