.display {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;

    .running-text {
        width: 500px;
        //width: ;
        overflow: hidden;
        /* Ensure the text doesn't overflow its container */
    }

    .running-text p {
        animation: running-text-animation 15s linear infinite;
        /* Adjust the duration and animation type as needed */
        white-space: nowrap;
        /* Prevent the text from wrapping to the next line */
        font-size: 1.25rem;
    }

    @keyframes running-text-animation {
        0% {
            transform: translateX(100%);
            /* Start offscreen to the right */
        }

        100% {
            transform: translateX(-100%);
            /* Move offscreen to the left */
        }
    }
}