.gyik {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        max-width: 50rem;
        width: 100%;

        h3 {
            margin-bottom: 0.5rem;
            max-width: 50rem;
        }
    }

    section:not(section:last-child) {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    .gyik {
        padding: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .gyik {
        padding: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    .gyik {
        padding: 0.75rem;
    }
}