.info {
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .box {
        margin-right: 1rem;
        width: 100%;
        padding: 1rem;

        .icon {
            color: white;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        ul {
            list-style: none;

            li {
                h4 {
                    margin-bottom: 0.5rem;
                    color: rgb(240, 240, 240);
                }

                p {
                    color: rgb(200, 200, 200);
                }
            }

            li:not(li:last-child) {
                margin-bottom: 1.5rem;
            }
        }


        .box-title {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            color: rgb(200, 200, 200);
        }

        .devider {
            height: 3px;
            width: 45px;
            background-color: rgb(223, 208, 181);
            margin: 1rem 0;
        }
    }

    // .contacts is an imported component
    .contacts {
        li {
            a {
                color: rgb(240, 240, 240);

                .icon {
                    color: wheat;
                }
            }

            a:hover {
                background-color: unset;
            }
        }
    }

    .reviews {
        ul {
            li {
                h4 {
                    text-align: center;
                }

                p {
                    font-style: italic;
                    text-align: center;
                }

                .date {
                    margin-top: 0.5rem;
                }
            }
        }
    }
}