.kezdolap {
    .main-box {
        background-image: url('../img/kezdolap/main.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        //height: 500px;
        width: 100%;
        padding: 2rem 0;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            height: 100%;
            width: 100%;
            padding: 0 1rem;

            h1 {
                text-align: center;
                margin-top: 7rem;
                font-size: 4.25rem;
            }

            h2 {
                text-align: center;
                font-size: 2.25rem;
                background: rgba(255, 255, 255, 0.3);
                box-shadow: 0 0 15px 45px rgba(255, 255, 255, 0.3);
                text-shadow: 0 0 1px lightblue;
            }

            .devider {
                background-color: rgb(191, 161, 107);
                width: 150px;
                height: 3px;
                margin: 3.5rem 0 4.5rem;
            }
        }
    }

    .services-box {
        padding: 2rem;
        display: flex;
        justify-content: center;
        transition: all 150ms ease-in-out;

        a {
            display: flex;
            justify-content: center;
            text-decoration: none;

            .box {
                display: flex;
                align-items: center;
                //justify-content: center;
                flex-direction: column;
                padding: 1rem;

                .icon-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 3px solid rgba(100, 100, 100, 0.2);
                    border-radius: 50%;
                    margin-bottom: 1rem;
                    transition: all 300ms ease-in-out;
                }

                .icon {
                    font-size: 3.5rem;
                    padding: 10px;
                }

                h3 {
                    font-size: 1.25rem;
                    transition: all 150ms ease-in-out;
                    padding: 0.5rem 1rem;
                    text-transform: uppercase;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                p {
                    text-align: center;
                    max-width: 300px;
                    font-size: 1.15rem;
                }
            }

            .box:hover .icon-box {
                background-color: rgba(100, 100, 100, 0.2);
            }

            .box:not(.box:last-child) {
                border-right: 1px solid rgba(100, 100, 100, 0.2);
            }
        }

        a:hover {
            background-color: unset;
        }
    }

    .description-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        .icon-box {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid rgba(100, 100, 100, 0.2);
            border-radius: 50%;

            .icon {
                font-size: 3rem;
                margin: 0.5rem;
            }
        }

        h2,
        p {
            padding: 1rem;
            letter-spacing: 2px;
            text-align: center;
            padding: 2rem;
            max-width: 800px;
            font-size: 2rem;
        }

        h2 {
            padding-bottom: 4rem;
        }

        p {
            padding: 0;
            font-size: 1.5rem;

            a {
                padding: 0 0.5rem;
                //display: inline;
            }
        }

        p:not(p:last-child) {
            padding-bottom: 1rem;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .kezdolap {
        .services-box {
            padding-top: 0;

            a {
                flex-direction: column;

                .box {
                    p {
                        max-width: 500px;
                    }
                }

                .box {
                    border: none !important;
                    padding: 2rem;
                }

                /*
                .box:not(.box:last-child) {
                    border-bottom: 1px solid rgba(100, 100, 100, 0.2) !important;
                }
                */
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .kezdolap {
        .main-box {
            .card {
                h1 {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.75rem;
                }
            }
        }
    }
}