.main-navigation {
  display: flex;
}
.main-navigation .logo {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.main-navigation .logo img {
  width: 250px;
}
.main-navigation .logo:hover {
  background-color: unset;
}
.main-navigation .menu-btn {
  padding: 0.5rem;
  cursor: pointer;
}
.main-navigation .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}
.main-navigation .container .box .primary-menu,
.main-navigation .container .box .secondary-menu {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
}
.main-navigation .container .box .primary-menu li .menu-btn,
.main-navigation .container .box .secondary-menu li .menu-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 150ms ease-in-out;
}
.main-navigation .container .box .primary-menu li .menu-btn .icon,
.main-navigation .container .box .secondary-menu li .menu-btn .icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.main-navigation .container .box .primary-menu li .menu-btn .phone-icon,
.main-navigation .container .box .secondary-menu li .menu-btn .phone-icon {
  font-size: 1rem;
}
.main-navigation .container .box .primary-menu li .menu-btn:hover:not(.secondary-menu .menu-btn),
.main-navigation .container .box .secondary-menu li .menu-btn:hover:not(.secondary-menu .menu-btn) {
  background-color: rgba(191, 161, 107, 0.5);
  color: rgb(50, 50, 50);
}
.main-navigation .container .box .primary-menu li:not(li:last-child),
.main-navigation .container .box .secondary-menu li:not(li:last-child) {
  margin-right: 1.5rem;
}
.main-navigation .container .box .secondary-menu {
  justify-content: space-between;
  margin-top: 0rem;
}
.main-navigation .container .box .secondary-menu li .menu-btn {
  font-size: 1rem;
}
.main-navigation .container .box .secondary-menu li .menu-btn .icon {
  font-size: 1.2rem;
}
.main-navigation .container .box .secondary-menu li:last-child {
  display: flex;
}
.main-navigation .container .box .secondary-menu li:last-child input {
  padding: 0 0.5rem;
  width: 15rem;
}
.main-navigation .container .box .secondary-menu li:last-child .shop-btn {
  margin-left: 0.5rem;
}
.main-navigation .container .box .secondary-menu li:last-child .shop-btn .icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.top-navigation {
  display: flex;
  justify-content: center;
}
.top-navigation ul {
  width: 100%;
  border-top: 1px solid rgba(100, 100, 100, 0.3);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.top-navigation ul li a .icon {
  font-size: 1.5rem;
  color: rgb(191, 161, 107);
  font-weight: 100;
  transition: all 150ms ease-in-out;
}
.top-navigation ul li a:hover {
  background-color: unset;
}
.top-navigation ul li a:hover .icon {
  color: black;
  scale: 1.1;
}
.top-navigation ul li:not(li:last-child) {
  margin-right: 2rem;
}

.bottom-navigation {
  display: flex;
  background-color: white;
  padding: 2rem 1rem;
}
.bottom-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
}
.bottom-navigation ul li a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  transition: all 150ms ease-in-out;
  margin: 0 0.25rem;
}
.bottom-navigation ul li:not(li:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=navigation.css.map */