.main-navigation {
    display: flex;
    margin: 0 4rem;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);

    a {
        padding: 0.5rem;

        .logo {
            width: 250px;
        }
    }

    .menu-btn {
        padding: 0.5rem;
        cursor: pointer;
    }

    ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
        align-items: center;

        li {
            .menu-btn {
                display: flex;
                align-items: center;
                color: rgb(100, 100, 100);
                text-decoration: none;
                font-size: 1.5rem;
                transition: all 150ms ease-in-out;

                .icon {
                    margin-right: 0.5rem;
                    font-size: 1.2rem;
                }

                .phone-icon {
                    font-size: 1rem;
                }
            }

            .menu-btn:hover {
                background-color: rgb(223, 208, 181);
                color: rgba(50, 50, 50, 1);
            }
        }

        li:not(li:last-child) {
            margin-right: 1.5rem;
        }
    }
}

.top-navigation {
    display: flex;
    justify-content: center;
    padding: 1rem;

    ul {
        display: flex;
        align-items: center;
        list-style: none;

        li {
            a {
                .icon {
                    font-size: 1.5rem;
                    color: rgb(191, 161, 107);
                    font-weight: 100;
                    transition: all 150ms ease-in-out;
                }
            }

            a:hover .icon {
                color: black;
                scale: 1.1;
            }
        }

        li:not(li:last-child) {
            margin-right: 2rem;
        }
    }
}

.bottom-navigation {
    display: flex;
    background-color: white;
    padding: 2rem 1rem;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 100%;

        li {

            a {
                text-decoration: none;
                padding: 0.25rem 0.5rem;
                color: black;
                transition: all 150ms ease-in-out;
            }

            a:hover {
                background-color: rgba(100, 100, 100, 0.3);
            }
        }

        li:not(li:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.3);
        }
    }
}