.main-navigation {
    display: flex;

    .logo {
        padding: 0.5rem;
        display: flex;
        align-items: center;

        img {
            width: 250px;
        }
    }

    .logo:hover {
        background-color: unset;
    }

    .menu-btn {
        padding: 0.5rem;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem;

        .box {

            .primary-menu,
            .secondary-menu {
                display: flex;
                list-style: none;
                align-items: center;
                width: 100%;

                li {
                    .menu-btn {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        font-size: 1.25rem;
                        transition: all 150ms ease-in-out;

                        .icon {
                            margin-right: 0.5rem;
                            font-size: 1.2rem;
                        }

                        .phone-icon {
                            font-size: 1rem;
                        }
                    }
                }

                li:not(li:last-child) {
                    margin-right: 1.5rem;
                }
            }

            .secondary-menu {
                justify-content: space-between;
                margin-top: 0rem;

                li {
                    .menu-btn {
                        font-size: 1rem;

                        .icon {
                            font-size: 1.2rem;
                        }
                    }
                }

                li:last-child {
                    display: flex;
                    align-items: center;

                    input {
                        padding: 0.25rem 0.5rem;
                        width: 15rem;
                    }

                    .shop-btn {
                        margin-left: 0.5rem;

                        .icon {
                            font-size: 1.5rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.top-navigation {
    display: flex;
    justify-content: center;

    ul {
        width: 100%;
        border-top: 1px solid rgba(100, 100, 100, 0.3);
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        li {
            a {
                .icon {
                    font-size: 1.5rem;
                    color: rgb(191, 161, 107);
                    font-weight: 100;
                    transition: all 150ms ease-in-out;
                }
            }

            a:hover {
                background-color: unset;
            }

            a:hover .icon {
                color: black;
                scale: 1.1;
            }
        }

        li:not(li:last-child) {
            margin-right: 2rem;
        }
    }
}

.bottom-navigation {
    display: flex;
    background-color: white;
    padding: 2rem 1rem;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 100%;

        li {

            a {
                text-decoration: none;
                padding: 0.25rem 0.5rem;
                transition: all 150ms ease-in-out;
                margin: 0 0.25rem;
            }
        }

        li:not(li:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.3);
        }
    }
}