.main-navigation {
  position: relative;
  z-index: 100;
  display: flex;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  background-color: white;
}
.main-navigation .scroll-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 100, 100);
  position: fixed;
  bottom: 5rem;
  cursor: pointer;
  padding: 0.5rem 0;
  z-index: 100;
  border-radius: 0.75rem 0 0 0.75rem;
  transition: all 150ms ease-in-out;
}
.main-navigation .scroll-up-btn .icon {
  font-size: 2rem;
  color: white;
  transform: rotate(-90deg);
  transition: all 150ms ease-in-out;
}
.main-navigation .scroll-up-btn:hover {
  background-color: rgb(190, 160, 110);
}
.main-navigation .logo {
  position: relative;
  z-index: 100;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.main-navigation .logo img {
  width: 250px;
}
.main-navigation .logo:hover {
  background-color: unset;
}
.main-navigation .menu-btn {
  padding: 0.5rem;
  cursor: pointer;
}
.main-navigation .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}
.main-navigation .container .box .icon-box {
  display: none;
  position: relative;
  z-index: 100;
}
.main-navigation .container .box .icon-box .icon {
  font-size: 2rem;
  cursor: pointer;
}
.main-navigation .container .box .icon-box .close-icon {
  font-size: 1.8rem;
}
.main-navigation .container .box .primary-menu,
.main-navigation .container .box .secondary-menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-navigation .container .box .primary-menu li .menu-btn,
.main-navigation .container .box .secondary-menu li .menu-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 150ms ease-in-out;
}
.main-navigation .container .box .primary-menu li .menu-btn .icon,
.main-navigation .container .box .secondary-menu li .menu-btn .icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.main-navigation .container .box .primary-menu li .menu-btn .phone-icon,
.main-navigation .container .box .secondary-menu li .menu-btn .phone-icon {
  font-size: 1rem;
}
.main-navigation .container .box .primary-menu li:not(li:last-child),
.main-navigation .container .box .secondary-menu li:not(li:last-child) {
  margin-right: 1.5rem;
}
.main-navigation .container .box .secondary-menu {
  justify-content: space-between;
  margin-top: 0rem;
}
.main-navigation .container .box .secondary-menu li .menu-btn {
  font-size: 1rem;
}
.main-navigation .container .box .secondary-menu li .menu-btn .icon {
  font-size: 1.2rem;
}
.main-navigation .container .box .secondary-menu li:last-child {
  display: flex;
  align-items: center;
}
.main-navigation .container .box .secondary-menu li:last-child input {
  padding: 0.25rem 0.5rem;
  width: 15rem;
}
.main-navigation .container .box .secondary-menu li:last-child .shop-btn {
  margin-left: 0.5rem;
}
.main-navigation .container .box .secondary-menu li:last-child .shop-btn .icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-navigation {
  position: relative;
  z-index: 0;
  display: none;
  transition: all 350ms ease-in-out;
}
.mobile-navigation .primary-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.mobile-navigation .primary-menu li .menu-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 150ms ease-in-out;
}
.mobile-navigation .primary-menu li .menu-btn .icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.mobile-navigation .primary-menu li .menu-btn .phone-icon {
  font-size: 1rem;
}
.mobile-navigation .primary-menu li:not(li:last-child) {
  margin-bottom: 1.5rem;
}

.top-navigation {
  display: flex;
  justify-content: center;
}
.top-navigation ul {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.top-navigation ul li a .icon {
  font-size: 1.5rem;
  color: rgb(191, 161, 107);
  transition: all 150ms ease-in-out;
}
.top-navigation ul li a:hover {
  background-color: unset;
}
.top-navigation ul li a:hover .icon {
  color: black;
  scale: 1.1;
}
.top-navigation ul li:not(li:last-child) {
  margin-right: 2rem;
}

.bottom-navigation {
  display: flex;
  background-color: white;
  padding: 2rem 1rem;
}
.bottom-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
}
.bottom-navigation ul li a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  transition: all 150ms ease-in-out;
  margin: 0 0.25rem;
}
.bottom-navigation ul li:not(li:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1100px) {
  .main-navigation .container {
    justify-content: flex-end;
  }
  .main-navigation .container .box .primary-menu li {
    margin-right: 0.5rem !important;
  }
  .main-navigation .container .box .primary-menu li .menu-btn {
    padding: 0.25rem;
  }
  .main-navigation .container .box .primary-menu li:last-child {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 950px) {
  .main-navigation .container .box .icon-box {
    display: flex;
  }
  .main-navigation .container .box .primary-menu {
    display: none;
  }
  .mobile-navigation {
    display: flex;
  }
}
@media only screen and (max-width: 400px) {
  .top-navigation ul li:not(li:last-child) {
    margin-right: 1rem;
  }
}/*# sourceMappingURL=navigation.css.map */