.product-slider {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    align-items: center;

    .title-box {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 70rem;
        width: 100%;

        .devider {
            width: 100%;
            height: 3px;
            background-color: rgba(80, 80, 80, 0.1);
        }

        h2 {
            text-transform: uppercase;
            font-weight: 100;
            color: rgb(80, 80, 80);
            padding: 0 1rem;
        }
    }

    .slider-container {
        display: flex;
        margin-top: 4rem;

        .btn-box {
            display: flex;
            align-items: center;

            .icon {
                font-size: 2.5rem;
                border: 2px solid rgb(180, 180, 180);
                border-radius: 50%;
                color: rgb(120, 120, 120);
                cursor: pointer;
                transition: all 250ms ease-in-out;
                margin-left: 1rem;
            }

            .left {
                transform: rotate(180deg);
                margin-left: unset;
                margin-right: 1rem;
            }

            .icon:hover {
                background-color: rgb(120, 120, 120);
                color: white;
            }
        }

        .slider-box {
            display: flex;
            align-items: center;
            width: 70rem;
            overflow: hidden;


            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                left: 0;
                //height: 16rem;
                text-decoration: none;
                transition: all 350ms ease-in-out;
                user-select: none;

                img {
                    width: 16rem;
                }

                h3 {
                    width: 100%;
                    text-align: center;
                    //margin-top: -3rem;
                    background-color: rgba(50, 50, 50, 0.5);
                    padding: 0.5rem 0;
                    text-transform: uppercase;
                    font-weight: 100;
                    color: white;
                    transition: all 150ms ease-in-out;
                }

            }

            a:hover h3 {
                background-color: rgb(223, 208, 181);
                color: black;
            }

            .img-box:not(img:last-child) {
                margin-right: 2rem;
            }
        }
    }
}