.reszletek {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        padding: 2rem 0;
        margin-bottom: 4rem;
        width: 100%;
    }

    article {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0 8rem;

        .container {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            h3 {
                margin-bottom: 2rem;
                text-align: center;
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            section {
                display: flex;
                flex-direction: column;
                margin-bottom: 3rem;

                .text-box {
                    display: flex;
                    flex-direction: column;

                    p {
                        max-width: 600px;
                        line-height: 1.75rem;
                        text-align: center;
                    }

                    p:not(p:last-child) {
                        margin-bottom: 1rem;
                    }
                }
            }

            section:not(section:last-child) {
                margin-bottom: 2rem;
            }
        }

        img {
            width: 350px;
            //height: 350px;
            padding: 1rem;
        }
    }

    article:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .flipped {
        flex-direction: row !important;
    }

    .flipped:nth-child(2n+1) {
        flex-direction: row-reverse !important;
    }
}