.webshop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.webshop .shop {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}
.webshop .shop .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.webshop .shop .title-box .box h1 {
  margin-bottom: 1rem;
}
.webshop .shop .title-box .result-filter {
  display: flex;
  align-items: center;
}
.webshop .shop .title-box .result-filter p {
  margin-right: 1rem;
}
.webshop .shop .title-box .result-filter form select {
  padding: 0.5rem;
  font-size: 1.1rem;
}
.webshop .shop .container {
  display: flex;
}
.webshop .shop .container .filter-box {
  height: 100%;
  padding: 0 1rem;
  min-width: 300px;
}
.webshop .shop .container .filter-box section {
  margin-bottom: 1rem;
}
.webshop .shop .container .filter-box section h3 {
  text-transform: uppercase;
}
.webshop .shop .container .filter-box section .devider {
  width: 2rem;
  height: 3px;
  background-color: rgb(223, 208, 181);
  margin: 0.5rem 0;
}
.webshop .shop .container .filter-box section .product-categories {
  list-style: none;
}
.webshop .shop .container .filter-box section .product-categories li {
  display: flex;
  padding: 0.5rem 0;
}
.webshop .shop .container .filter-box section .product-categories li a {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
  font-size: 1.1rem;
  width: 100%;
}
.webshop .shop .container .filter-box section .product-categories li a .count {
  margin-left: auto;
  margin-right: 0.5rem;
  font-size: 0.75rem;
}
.webshop .shop .container .filter-box section .product-categories li a .icon {
  transform: rotate(90deg);
}
.webshop .shop .container .filter-box section .product-categories li a:hover {
  background-color: unset;
}
.webshop .shop .container .filter-box section .product-categories li:not(li:last-child) {
  border-bottom: 1px solid rgba(100, 100, 100, 0.1);
}
.webshop .shop .container .filter-box .filter-section input {
  width: 100%;
}
.webshop .shop .container .filter-box .filter-section .min-max {
  display: flex;
  justify-content: space-between;
}
.webshop .shop .container .filter-box .search-section .search-box {
  display: flex;
}
.webshop .shop .container .filter-box .search-section .search-box input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  height: 3rem;
}
.webshop .shop .container .filter-box .search-section .search-box .icon {
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
}
.webshop .shop .container .category-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1rem;
  margin-left: 1rem;
}
.webshop .shop .container .category-grid .link {
  width: 100%;
  padding-top: 140.625%;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  max-height: 210px;
  display: flex;
  flex-direction: column;
}
.webshop .shop .container .category-grid .link .img-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: -140.625%;
  transition: all 150ms ease-in-out;
  height: 140.625vw;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.webshop .shop .container .category-grid .link .img-box .icon {
  font-size: 2rem;
  border: 2px solid rgb(150, 150, 150);
  color: gray;
  padding: 0.25rem;
  border-radius: 50%;
  margin: 0.25rem 0 0 0.25rem;
  transition: all 350ms ease-in-out;
  opacity: 0;
}
.webshop .shop .container .category-grid .link .img-box h3 {
  background-color: rgba(0, 128, 0, 0.8);
  height: 2rem;
  margin-bottom: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  transition: all 250ms ease-in-out;
}
.webshop .shop .container .category-grid .link .data-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 0 0.5rem;
  transition: all 250ms ease-in-out;
}
.webshop .shop .container .category-grid .link .data-box h3,
.webshop .shop .container .category-grid .link .data-box h5 {
  text-align: left;
  margin-top: 0.5rem;
  font-weight: 100;
}
.webshop .shop .container .category-grid .link:hover .icon {
  opacity: 1;
}
.webshop .shop .container .category-grid .link:hover .img-box h3 {
  margin-bottom: 0;
}
.webshop .shop .container .category-grid .link:hover .img-box h3 * {
  color: white;
}
.webshop .shop .container .category-grid .link:hover {
  background-color: unset;
}
.webshop .shop .container .product-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1rem;
  margin-left: 1rem;
}
.webshop .shop .container .product-grid .link {
  width: 100%;
  padding-top: 140.625%;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  max-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center top;
  background-size: contain;
}
.webshop .shop .container .product-grid .link .box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0.5rem;
  transition: all 150ms ease-in-out;
  width: 100%;
}
.webshop .shop .container .product-grid .link .box h3 {
  margin-bottom: 0.5rem;
}
.webshop .shop .container .product-grid .link:hover .box {
  background-color: rgba(0, 128, 0, 0.8);
}
.webshop .shop .container .product-grid .link:hover .box * {
  color: white;
}
.webshop .shop .pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.webshop .shop .pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  margin: 0 0.25rem;
  border: 1px solid black;
  border-radius: 50%;
}
.webshop .webshop-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 1200px;
}
.webshop .webshop-info .accepted-payment-list {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  list-style: none;
}
.webshop .webshop-info .accepted-payment-list li .icon {
  font-size: 3rem;
}
.webshop .webshop-info .accepted-payment-list li .google-pay,
.webshop .webshop-info .accepted-payment-list li .apple-pay {
  font-size: 3.5rem;
}
.webshop .webshop-info .accepted-payment-list li .paypal {
  font-size: 1.75rem;
}
.webshop .webshop-info .accepted-payment-list li .visa-pay {
  font-size: 2.25rem;
}
.webshop .webshop-info .accepted-payment-list li .master-card,
.webshop .webshop-info .accepted-payment-list li .visa-card {
  font-size: 2.5rem;
}
.webshop .webshop-info .accepted-payment-list li:not(li:last-child) {
  margin-right: 1rem;
}
.webshop .webshop-info .info-navigation ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  list-style: none;
}
.webshop .webshop-info .info-navigation ul li a {
  padding: 0.25rem;
  text-decoration: none;
}
.webshop .webshop-info .info-navigation ul li:not(li:last-child) {
  margin-right: 1rem;
}

.wheel {
  width: 2rem;
  height: 2rem;
  border: 3px solid black;
  border-top: 3px solid white;
  border-radius: 50%;
  -webkit-animation: spin 10s infinite linear;
          animation: spin 10s infinite linear;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}/*# sourceMappingURL=webshop.css.map */