.webshop {
  display: flex;
  width: 100%;
  justify-content: center;
}
.webshop .shop {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}
.webshop .shop .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.webshop .shop .title-box .box h1 {
  margin-bottom: 1rem;
}
.webshop .shop .title-box .result-filter {
  display: flex;
  align-items: center;
}
.webshop .shop .title-box .result-filter p {
  margin-right: 1rem;
}
.webshop .shop .title-box .result-filter form select {
  padding: 0.5rem;
  font-size: 1.1rem;
}
.webshop .shop .container {
  display: flex;
}
.webshop .shop .container .filter-box {
  height: 100%;
  padding: 0 1rem;
  min-width: 300px;
}
.webshop .shop .container .filter-box section {
  margin-bottom: 1rem;
}
.webshop .shop .container .filter-box section h3 {
  text-transform: uppercase;
}
.webshop .shop .container .filter-box section .devider {
  width: 2rem;
  height: 3px;
  background-color: rgb(223, 208, 181);
  margin: 0.5rem 0;
}
.webshop .shop .container .filter-box section .product-categories {
  list-style: none;
}
.webshop .shop .container .filter-box section .product-categories li {
  display: flex;
  padding: 0.5rem 0;
}
.webshop .shop .container .filter-box section .product-categories li a {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
  font-size: 1.1rem;
  width: 100%;
}
.webshop .shop .container .filter-box section .product-categories li a .count {
  margin-left: auto;
  margin-right: 0.5rem;
  font-size: 0.75rem;
}
.webshop .shop .container .filter-box section .product-categories li a .icon {
  transform: rotate(90deg);
}
.webshop .shop .container .filter-box section .product-categories li a:hover {
  background-color: unset;
}
.webshop .shop .container .filter-box section .product-categories li:not(li:last-child) {
  border-bottom: 1px solid rgba(100, 100, 100, 0.1);
}
.webshop .shop .container .filter-box .search-section .search-box {
  display: flex;
}
.webshop .shop .container .filter-box .search-section .search-box input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  height: 3rem;
}
.webshop .shop .container .filter-box .search-section .search-box .icon {
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
}
.webshop .shop .container .grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1rem;
  margin-left: 1rem;
}
.webshop .shop .container .grid .link {
  width: 100%;
  padding-top: 140.625%;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
}
.webshop .shop .container .grid .link .box {
  background-color: rgba(0, 128, 0, 0.8);
  text-align: center;
  margin-top: -6rem;
  padding: 0.5rem;
}
.webshop .shop .container .grid .link .box * {
  color: white;
}
.webshop .shop .container .grid .link .box h3 {
  margin-bottom: 0.5rem;
}
.webshop .shop .container .grid .link:nth-child(1) {
  background-image: url("../img/categories/thumbnails/taskak2.jpg");
}
.webshop .shop .container .grid .link:nth-child(2) {
  background-image: url("../img/categories/thumbnails/maszkok2.jpg");
}
.webshop .shop .container .grid .link:nth-child(3) {
  background-image: url("../img/categories/thumbnails/fehernemuk2.jpg");
}
.webshop .shop .container .grid .link:nth-child(4) {
  background-image: url("../img/categories/thumbnails/oko_termekek2.jpg");
}
.webshop .shop .container .grid .link:nth-child(5) {
  background-image: url("../img/categories/thumbnails/gyermekruhak2.jpg");
}
.webshop .shop .container .grid .link:nth-child(6) {
  background-image: url("../img/categories/thumbnails/konyhai-textilek2.jpg");
}
.webshop .shop .container .grid .link:nth-child(7) {
  background-image: url("../img/categories/thumbnails/textil-jatekok2.jpg");
}
.webshop .shop .pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.webshop .shop .pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  margin: 0 0.25rem;
  border: 1px solid black;
  border-radius: 50%;
}/*# sourceMappingURL=webshop.css.map */